[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
seaborn = "*"
attrs = "*"
tqdm = "*"
ipdb = "*"
tensorflow = "*"
tfp-nightly = "*"

[dev-packages]

[requires]
python_version = "3.6.5"
